*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
    color: aliceblue;
}

body{
    background-image: linear-gradient(#fde7c1,white);
}

.nav__top{
    padding: 15px;
    background-image: url("images/fondo-camaron.jpg");
}

.navegacion{
    background-color: black;
    font-family: 'Anton', sans-serif;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    padding: 10px;
}

.nav__logo{
    width: 160px;
    position: relative;
}

a, a:visited, a:active{
    text-decoration: none;
    color: aliceblue;
}

.header__Logo{
    width: 160px;
    position: absolute;
    margin: 0 auto;
    top: -70px;
}

.nav__link, .whatsapp__link, .map__link, .instagram__link, .rappi__link, .pedidosya__link{
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.nav__link:hover{
    color: #2cbce0;
}
.whatsapp__link:hover{
    color: greenyellow;
}
.map__link:hover{
    color: yellow;
}
.instagram__link:hover{
    color: palevioletred;
}
.rappi__link:hover{
    color: orangered;
}
.pedidosya__link:hover{
    color: red;
}



main{
    background-image: linear-gradient(#fde7c1,white);
}




h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.indeximage{
    height: 200px;
    width: auto;
    border-radius: 20px;
    transition: heigh 1s, width 1s;
}

.indeximage:hover{
    height: 400px;
    width: auto;
}

.ajidegallina{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.lomosaltado{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.picantedemariscos{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

aside{
    background-color: #1DB8DE;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}




footer{
    background-color: black;
    color: aliceblue;
    font-family: 'Anton', sans-serif;
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.redes__sociales{
    display: flex;
    flex-direction: column;
}





.h1-menu{
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 50px;
    letter-spacing: 3px;
    padding: 50px;
}

.h2-menu{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin-top: 30px;
}

.img-menu{
    width: 31%;
    margin: 5px;
}

.contenedor-entradas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.contenedor-principales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;
}

.contenedor-principales{
    display: flex;
    flex-direction: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;
}





.h1-local{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

.local-descripcion{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    text-align: center;
    font-size: 20px;
    margin-left: 11%;
    margin-right: 11%;
}

.exterior{
    width: 700px;
}

.mapa-foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}




.h1-encuesta{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
}

.encuesta-descripcion, .menu__descripcion{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 40px;
}

.titulo-encuesta{
    color: rgb(53, 52, 52);
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.encuesta-edad{
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 1100px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid gray;
}

.encuesta-plato{
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 1100px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid gray;
}

.encuesta-calidadprecio{
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 1100px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid gray;
}

.encuesta-opinion{
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 1100px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border-top: 1px solid gray;
}

.encuesta-mail{
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 1100px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    border-top: 1px solid gray;
}

.encuesta-enviar{
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: center;
}




.h1-nosotros{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding: 40px;
}


.contenedor-objetivo{
    max-width: 1100px;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contenedor-equipo{
    max-width: 1100px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.objetivo-equipo{
    font-size: 30px;
    color: rgb(48, 46, 46);
}

.texto-nosotros{
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 20px;
    width: 50%;
    text-align: center;
    padding: 15px;
}

.img-nosotros{
    width: 50%;
}





@media (max-width: 700px){

    .nav__logo{
        width: 140px;
    }

    .header__Logo{
        width: 140px;
    }

    .navegacion{
        letter-spacing: 0px;
        font-size: 22px;
    }

    .mobile__deleted{
        display: none;
    }

    .img-menu{   
        width: 100%;
    }

    .exterior{
        width: 100%;
    }

    .encuesta-edad{
        flex-direction: column;
        align-content: center;
    }

    .encuesta-plato{
        flex-direction: column;
        align-content: center;
    }

    .encuesta-calidadprecio{
        flex-direction: column;
        align-content: center;
    }

    .encuesta-opinion{
        margin-left: 5%;
        margin-right: 5%;
    }

    .img-nosotros{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .texto-nosotros{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}