*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

body{
    background-color: white;
}

.navegacion{
    background-color: black;
    color: aliceblue;
    font-family: 'Readex Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

a, a:visited, a:hover, a:active{
    color: inherit;
    text-decoration: none;
}

.header__Logo{
    height: 150px;
    width: auto;
}
main{
    background-image: linear-gradient(rgb(140, 255, 255),white);
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.indeximage{
    height: 200px;
    width: auto;
    border-radius: 20px;
    transition: heigh 1s, width 1s;
}

.indeximage:hover{
    height: 400px;
    width: auto;
}

.ajidegallina{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.lomosaltado{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.picantedemariscos{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

aside{
    background-color: #1DB8DE;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: black;
    color: aliceblue;
    font-family: 'Readex Pro', sans-serif;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

h2{
    text-align: center;
    padding: 10px;
}

img{
    width: 31%;
    margin: 5px;
}

.contenedor-entradas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.contenedor-principales{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;
}

.contenedor-principales{
    display: flex;
    flex-direction: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;
}

@media (max-width: 600px){

    img{   
        width: 100%;
    }
}